*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: CtCommandPrompt;
  src: url("Command-Prompt-12x16.ttf");
}
body {
  background: #000;
}
.content {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.container {
  box-sizing: border-box;
  width: 100%;
}
.row {
  content: '';
  display: table;
  clear: both;
  min-height: 1em;
}
.column {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  width: 194px;
}
.column.super {
  width: 100%;
}
.indent {
  margin-left: 50px;
}
.spacer {
  height: 50px;
}
.alive {
  background: url("checkboxTrue.png");
  width: 185px;
  height: 19px;
  border: none;
  outline: none;
}
.alive.false {
  background: url("checkboxFalse.png");
}
.point {
  transition: all 0.5s;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: CtCommandPrompt;
  font-size: 1em;
  color: #c0c0c0;
  line-height: 120%;
}
.point.hidden {
  color: #000;
}
.formTitle {
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: CtCommandPrompt;
  font-size: 1em;
  color: #c0c0c0;
  line-height: 120%;
  width: 10em;
}
.input {
  transition: all 1s;
  margin-right: 1em;
  padding-left: 0em;
  padding-right: 0em;
  margin-bottom: 1em;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: CtCommandPrompt;
  font-size: 1em;
  color: #c0c0c0;
  line-height: 120%;
  background: #404040;
  border: none;
  outline: none;
}
.input.problem {
  background: #f23d21;
}
.input.success {
  background: #0aca1a;
  color: #000;
}
.input.hidden {
  padding: 0em;
  margin-bottom: 0em;
  color: #000;
  background: #000;
}
.submit {
  transition: all 0.25s;
  width: 185px;
  padding-left: 0.6em;
  padding-right: 0.6em;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: CtCommandPrompt;
  font-size: 1em;
  color: #000;
  line-height: 120%;
  background: #404040;
  border: none;
  outline: none;
}
.submit.add {
  margin-top: 1.2em;
}
.submit:hover {
  background: #c0c0c0;
  color: #404040;
}
